body{
font-family: 'Questrial', sans-serif;
}

.navbar{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #F9BE4F;
    height: 12vh;

}

.logo{
  /* width: 45%; */
  max-width: 45%;
}

.navbar a{
    color:white;
    font-size: 1.2em;
}

.masthead {
  height: 85vh;
  min-height: 500px;
  background-image: url('image/dog-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card{
  background-color: rgb(107,95,95,0.60);
  border-radius: 20px;
}

.card-text {
  color:white;
  text-align: left;
  
}

.card-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 2.6em;
  line-height: 115%;
}

.card-title-text {
  color: #DDDCDC;
}