    body{
    font-family: 'Questrial', sans-serif;
    }

    h1{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }
    
    p{
        font-family: 'Questrial', sans-serif;  
    }

    .navbar{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        background-color: #F9BE4F;
        height: 12vh;
    
    }
    
    .logo{
      /* width: 45%; */
      max-width: 45%;
    }
    
    .navbar a{
        color:white;
        font-size: 1.2em;
    }

    .img-radius{
        border-radius: 3%;
    }

    .user-info{
        font-size: 1.4em;
        color: #675444;
    }

    .border{
        border-radius: 3%;
        background-color: #FEEFD4;
    }

    .card-color{
        background-color: #FEEFD4;
        color: #675444;
        font-size: 1.5em;
    }

    .img-size{
        width: 100%;
        max-height: 32vh;
    }

    footer{
        background-color: #675444;
    }

    .fotter-title-name{
        color: #FFEF5E;
        font-size: 1.4em;
    }

    .fotter-title{
        color: white;
        font-size: 1.4em;
    }
  
    .fotter-text{
        color: white;
    }

    .copyright{
        color: white;
        font-size: 0.8em;
    }

    hr{
        background-color: white;
        height: 0.2vh;
    }
