body {
  font-family: "Questrial", sans-serif;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
}

p {
  font-family: "Questrial", sans-serif;
}

/*-----------------------------------Title-----------------------------------*/

.title {
  font-family: "Quicksand", sans-serif;
  color: #222;
  font-weight: bold;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  color: #484848;
  font-weight: bold;
}

.title-dash {
  color: rgb(33, 131, 128, 0.7);
}

.title-paw {
  color: rgb(33, 131, 128, 0.7);
  font-size: 17px;
}

/*-----------------------------------Navigation-----------------------------------*/

.navbar {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #f9be4f;
  height: 9vh;
}

/* .logo-container{
  width: 7vw;
  height: 10vh;
  background-image: url('image/logo3.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */

.logo {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}

.navbar a {
  color: white;
  font-size: 1em;
}

/* .navbar a:hover{
  font-size: 1.02em;
} */

.icon-nav {
  color: #218380;
}

.nav-weight {
  font-weight: bold;
}

/*-----------------------------------Banner-Quiz-----------------------------------*/

.banner-quiz {
  margin-top: 2%;
  /* The image used */
  background-image: url("image/paws.jpg");

  /* Set a specific height */
  height: 30vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-quiz-opacity {
  height: 30vh;
  background-color: rgb(107, 95, 95, 0.3);
}

.banner-quiz-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: white;
}

.btn-quiz-home {
  color: white;
  background-color: #f9be4f;
  border: none;
}

.btn-quiz-home:hover {
  color: white;
  background-color: #76b594;
  border: none;
}

/*-----------------------------------User profile-----------------------------------*/
.border-user-info {
  border-radius: 24px;
  border: 1px;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

/* .img-radius {
    border-radius: 3%;
  } */

.user-info {
  font-size: 1.4em;
  color: black;
}

.user-more-btn {
  background-color: #218380;
  border: none;
  font-weight: 550;
}

.user-more-btn:hover {
  background-color: #76b594;
}

.border {
  border-radius: 10px;
  background-color: white;
  height: 23em;
}

#profile {
  width: 15em;
  height: 15em;

  border-radius: 50%;
  margin: 1em auto;
  background-image: url(./image/profile.jpeg);
  background-position: center;
  background-size: cover;
}

/*-----------------------------------button-----------------------------------*/

.read-more-btn {
  width: 13vw;
  background-color: #218380;
  border: none;
  border-radius: 20px;
  font-weight: 550;
}

.read-more-btn:hover {
  background-color: #76b594;
}



/*-----------------------------------Footer-----------------------------------*/

footer {
  background-color: #26272b;
}

.fotter-title-name {
  color: white;
  font-size: 1.8em;
}

.fotter-title {
  color: white;
  font-size: 0.9em;
}

.fotter-text {
  color: #c2c2c2;
  font-size: 0.7em;
}

.copyright {
  color: #c2c2c2;
  font-size: 0.7em;
}

.form-control{
  border-radius: 10px;
  }  

  .form-control-pet{
    border-radius: 20px 0px 0px 20px;
  }

.social-media {
  color: white;
  font-size: 1.45em;
}

.social-media:hover {
  color: #76b594;
  cursor: pointer;
}

.btn-subscribe {
  background-color: #76b594;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.btn-subscribe:hover {
  background-color: #218380;
}

hr {
  background-color: #f6f6f6;
  height: 0.001vh;
}

/* ----------------------------------------------------------pet profile----------------------------------- */

/* #pet-profile {
      width: 15em;
      height: 15em;
    
      border-radius: 50%;
      margin: 1em auto;
      background-image: url(./image/golden-retriever.jpg);
      background-position: center;
      background-size: cover;
    }
    .container-pet-popup{
      margin: 4em auto;
      max-width: 80%;
    }
    .vl {
      border-left: 3px solid green;
      height: 50%;
    } */

  .fa-comment-dots {
    color: #f9be4f;
    font-size: 2.5em;
    }

    .title-single-animal {
      font-size: 2.3em;
    }

.title-text-pet {
  font-size: 2.5em;
  margin-bottom: 0;
}

.title-text-pet1 {
  margin-bottom: 0;
  font-size: 0.8em;
}

.pet-info-title {
  font-size: 1em;
  color: #3b3b3b;  
  line-height: 0.6;
}

.pet-info-text {
  font-size: 1em;
  color: #808080;  
  line-height: 0.6;
}

.available-text {
  color: black;
  font-size: 1em;

  
}

.img-pet-radius {
  border-radius: 10px;
}

.font-awsome {
  color: #76b594;

}

.paw {
  color: #675444;
}

.paw-title {
  color: #675444;
  font-size: 1.3em;
}

.about-pet-background {
  background-color: #f5f5f5;
}

.border-pet-history {
  background-color: #feefd4;
  border-radius: 2%;
}

.button-pet {
  width: 20%;
  font-size: 1em;
}

/* shelter page */
.border-shelter {
  background-color: #feefd4;
  border-radius: 2%;
}

.shelter-icon {
  color: black;
}

.border-shelter-info {
  border-radius: 2%;
  background-color: white;
}

.background {
  background-color: #f5f5f5;
}
/*-----------------------------------------------PET PAGE-----------------------------------------------------*/
/*ZoomIn Hover-Mask Effect*/

.search-1{
  border-radius: 10px;
}

.search-2{
  border-radius: 10px;
}

.hover-mask a {
  text-align: left;
  font-size: 1.2rem;
  display: block;
  position: relative;
  overflow: hidden;
}
.hover-mask img {
  width: 100%;
  height: 13em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.hover-mask:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.hover-mask a h2 {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  padding: 45% 20px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.hover-mask:hover a h2 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  padding-top: 1%;
  text-align: left;
  font-size: 1.2rem;
}
.hover-mask .glyphicon {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  color: #fff;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  font-size: 1.2rem;
}
.hover-mask:hover .glyphicon {
  text-align: left;
  font-size: 1rem;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  font-size: 1.2rem;
  line-height: 40px;
}

/*-----------------------------------button-----------------------------------*/
.inline-photo {
  opacity: 0;
  transform: translatex(4em);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-0deg);
}

/*-----------------------------------signup-----------------------------------*/

.signup-image {
  background: url("image/signup.jpg");
  background-size: cover;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  background-position: bottom;
}

.signup-form {
  border-radius: 0px 20px 20px 0px;
}

/* ---------------- Login Modal-------------- */
#pop-up {
  position: fixed;
  left: 0;
  right: 0;
  margin: 4em auto;
  width: 30em;
  height: 27em;
  border: 2px #218380 solid;
  border-radius: 20px;
  padding: 1em;
  transform: scale(0.7);
  opacity: 0;
  background-color: #fff;
  z-index: 100;
}
#back-drop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;

  z-index: 100;
}
.overflow {
  overflow: hidden;
}
#google-in,
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 11em; */
  height: 2.3em;
  border-radius: 25px;
  border: solid 1px #218380;
}
#google-in img {
  width: 25px;
  padding-left: 0.6em;
}
#google-in h4 {
  font-size: 11px;
  margin: 0;
}
#login {
  background-color: #218380;
  color: #fff;
}
.btn-wrapper {
  margin: 1em auto;
  display: grid;
  justify-content: center;
}
.fade-in-animation {
  animation: fade-in 0.3s ease-out forwards;
}
@keyframes fade-in {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fade-out-animation {
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.3s;
}

.hidden {
  display: none;
}
#close {
  cursor: pointer;
}
#login-btn {
  border: #fff 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #F9BE4F;
  height: 2em;
  margin-left: 1em;
  background-color: #fff;
}
#login-btn:hover {
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

#ui-datepicker-div {
  background-color: white;
  padding: 1em;
}
.ui-datepicker {
  width: 255px;
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.ui-datepicker-calendar {
  width: 100%;
}
.ui-datepicker-header {
  background: url("../img/dark_leather.png") repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}
.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
  background-size: 30%;
}
.ui-datepicker-prev {
  background-image: url("./image/arrow1.png");
  float: left;
  background-position: center;
}
.ui-datepicker-next {
  background-image: url("./image/arrownext.png");

  float: right;
  background-position: center;
}
.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f7f7f7),
    color-stop(100%, #f1f1f1)
  );
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 8pt;
  padding: 7px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}
.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ededed),
    color-stop(100%, #dedede)
  );
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(top, #ededed 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, 0.5);
}
.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

/* ---------------- adopt me Modal-------------- */
#pop-up-adopt {
  position: fixed;
  left: 0;
  right: 0;
  margin: 4em auto;
  width: 30em;
  /* height: 27em; */
  border: 2px #218380 solid;
  border-radius: 20px;
  padding: 1em;
  transform: scale(0.7);
  opacity: 0;
  background-color: #fff;
  z-index: 100;
}
#back-drop-adopt {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;

  z-index: 100;
}
.overflow {
  overflow: hidden;
}
#google-in,
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 11em; */
  height: 2.3em;
  border-radius: 25px;
  border: solid 1px #218380;
}
#google-in img {
  width: 25px;
  padding-left: 0.6em;
}
#google-in h4 {
  font-size: 11px;
  margin: 0;
}
#login {
  background-color: #218380;
  color: #fff;
}
.btn-wrapper {
  margin: 1em auto;
  display: grid;
  justify-content: center;
}
.fade-in-animation {
  animation: fade-in 0.3s ease-out forwards;
}
@keyframes fade-in {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fade-out-animation {
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.3s;
}

.hidden {
  display: none;
}
#close-adopt {
  cursor: pointer;
}

.adopt-btn {
  border-radius: 20px;
  background-color: #218380;
  width: 13em;
  color: #fff;
}
.adopt-btn:hover,
.btn-schedule-check:hover {
  background-color: #76b594;
}
#date-adopt-container {
  padding: 2em 5em;
}
.second-container {
  background-color: #fff;
  box-shadow: 0 10px 50px 0 rgba(49, 56, 78, 0.08);
  border-radius: 10px;
}
#adopt-me-btn {
  padding: 2em;
}
.date-picker-wrapper {
  padding: 2em;
}
.modal-btn {
  width: 13vw;
  background-color: transparent;
  border: #218380 solid 1px;
  border-radius: 10px;
  font-weight: 550;
  color: #000;
}
.modal-btn:hover {
  background-color: grey;
  color: white;
  border: white 1px solid;
}


/*-----------------------------------Banner-Schedule-Visit-----------------------------------*/

.banner-pet {
  
  /* The image used */
  background-image: url("image/schedule-visit.jpg");

  /* Set a specific height */
  height: 30vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-quiz-opacity {
  height: 30vh;
  background-color: rgb(107, 95, 95, 0.4);
}

.banner-visit-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.btn-quiz-home {
  color: white;
  background-color: #f9be4f;
  border: none;
}

.btn-quiz-home:hover {
  color: white;
  background-color: #76b594;
  border: none;
}


.btn-schedule {
  background-color: #76b594;
  border: none;
  border-radius: 0px 0px 0px 0px;
  cursor: none;
}

.btn-schedule-check {
  width: 4vw;
  background-color: #218380;
  border: none;
  border-radius: 0px 20px 20px 0px;
  font-weight: 550;
  color: #fff;
}
iframe {
  width: 100%;
  height: 200px;
}

/*----------navbar hover animation---------------*/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
nav ul li a:hover {
  color: #555;
}
nav.stroke ul li a {
  position: relative;
  cursor: pointer;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


@media only screen and (max-width: 790px) {

  .read-more-btn {
    width: 35vw;
  }

  .banner-quiz {
    margin-top: 15%;
  }

}