body {
  font-family: "Questrial", sans-serif;
}

/*-----------------------------------Title-----------------------------------*/

.title {
  font-family: "Quicksand", sans-serif;
  color: #222;
  font-weight: bold;
}

.subtitle {
  font-family: "Quicksand", sans-serif;
  color: #484848;
  font-weight: bold;
}

.title-dash {
  color: rgb(33, 131, 128, 0.7);
}

.title-paw {
  color: rgb(33, 131, 128, 0.7);
  font-size: 17px;
}

/*-----------------------------------Navigation-----------------------------------*/

.navbar {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #f9be4f;
  height: 9vh;
}

/* .logo-container{
    width: 7vw;
    height: 10vh;
    background-image: url('image/logo3.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } */

.logo {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}

.navbar a {
  color: white;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
}

.navbar a:hover {
  font-size: 1.02em;
}

/* .nav-nav{
  position: relative;
}

.icon-main-nav {
	font-size: 35px;
  color: violet;
	position: absolute;
  top: 15px;
  z-index: 0;
} */

.icon-nav{
  color: rgb(33, 131, 128, 0.7);
}

.nav-weight{
  font-weight: bold;
}



/*-----------------------------------Header-----------------------------------*/

.masthead {
  height: 85vh;
  min-height: 500px;
  background-image: url("image/can-dogs-feel-when-you-kiss-them_intro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.masthead-opacity {
  height: 85vh;
  min-height: 500px;
  background-color: rgba(20, 19, 19, 0.4);
}

.card-header-box {
  background-color: rgb(107, 95, 95, 0.3);
  border-radius: 20px;
  padding-bottom: 10%;
  border: none;
  width: 30vw;
}

.card-text {
  text-align: left;
}

.card-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 2.6em;
  line-height: 115%;
  color: white;
}

.card-text {
  color: #dddcdc;
}

.read-more-btn {
  width: 13vw;
  background-color: #218380;
  border: none;
  border-radius: 20px;
  font-weight: 550;
}

.read-more-btn:hover {
  background-color: #76b594;
}

/* .bg-card-features{
    height: 85vh;
    min-height: 500px;
    background-image: url('image/card-css.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  } */

/*-----------------------------------Services-----------------------------------*/

.container-features {
  margin-top: 2%;
}

.card-columns {
  margin-top: 3%;
}

.card-features {
  background-color: #218380;
  height: 45vh;
  border-radius: 20px;
  border: none;
  box-shadow: 20px;
}

/* .card-features:hover {
    background-color: #76b594;
  } */

.feature-icon {
  color: white;
  font-size: 50px;
}

.card-feature-title {
  color: white;
  font-size: 1.5em;
  font-weight: 200;
}

.card-feature-text {
  color: #dddcdc;
}

/* aniamtion scroll boxes */
.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: 0.25em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-4deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(-0deg);
}

/* .banner-quiz {
    height: 30vh;
    background-image: url('image/paws.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  } */

/*-----------------------------------Banner-Quiz-----------------------------------*/

.banner-quiz {
  margin-top: 2%;
  /* The image used */
  background-image: url("image/paws.jpg");

  /* Set a specific height */
  height: 30vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-quiz-opacity {
  height: 30vh;
  background-color: rgb(107, 95, 95, 0.3);
}

.banner-quiz-title {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  color: white;
}

.btn-quiz-home {
  color: white;
  background-color: #f9be4f;
  border: none;
}

.btn-quiz-home:hover {
  color: white;
  background-color: #76b594;
  border: none;
}

/*-----------------------------------Testimonials-----------------------------------*/

.fa-quote-left {
  color: #f9be4f;
}

.carousel-minus-active {
  color: #76b594;
  cursor: pointer;
}
.carousel-minus {
  color: #218380;
  cursor: pointer;
}

.carousel-arrow {
  color: #218380;
  font-size: 2em;
  cursor: pointer;
}

.carousel-arrow:hover {
  color: #76b594;
  font-size: 2.2em;
}

/*-----------------------------------Footer-----------------------------------*/

footer {
  background-color: #26272b;
}

.fotter-title-name {
  color: white;
  font-size: 1.8em;
}

.fotter-title {
  color: white;
  font-size: 0.9em;
}

.fotter-text {
  color: #c2c2c2;
  font-size: 0.7em;
}

.copyright {
  color: #c2c2c2;
  font-size: 0.7em;
}

/* .form-control{
  } */

.social-media {
  color: white;
  font-size: 1.45em;
}

.social-media:hover {
  color: #76b594;
  cursor: pointer;
}

.btn-subscribe {
  background-color: #76b594;
  border: none;
}

.btn-subscribe:hover {
  background-color: #218380;
}

hr {
  background-color: #7a7a7a;
  height: 0.001vh;
}
/* ---------------- Login Modal-------------- */
#pop-up {
  position: fixed;
  left: 0;
  right: 0;
  margin: 4em auto;
  width: 30em;
  height: 27em;
  border: 2px #218380 solid;
  border-radius: 20px;
  padding: 1em;
  transform: scale(0.7);
  opacity: 0;
  background-color: #fff;
  z-index: 100;
}
#back-drop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;

  z-index: 100;
}
.overflow {
  overflow: hidden;
}
#google-in,
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11em;
  height: 2.3em;
  border-radius: 25px;
  border: solid 1px #218380;
}
#google-in img {
  width: 25px;
  padding-left: 0.6em;
}
#google-in h4 {
  font-size: 11px;
  margin: 0;
}
#login {
  background-color: #218380;
  color: #fff;
}
.btn-wrapper {
  margin: 1em auto;
  display: grid;
  justify-content: center;
}
.fade-in-animation {
  animation: fade-in 0.3s ease-out forwards;
}
@keyframes fade-in {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.fade-out-animation {
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.3s;
}

.hidden {
  display: none;
}
#close {
  cursor: pointer;
}
#login-btn {
  border: #fff 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  color: #fff;
  height: 2em;
  margin-left: 1em;
}
#login-btn:hover {
  color: rgb(249, 190, 79);
  background-color: #fff;
  cursor: pointer;
}
