.main {
  width: 65%;
}

#nameErr,
#passwordErr,
#confirmPasswordErr,
#cPassErr,
#phoneErr,
#emailErr {
  color: #e76362;
  display: none;
}

#shelterDivs {
  display: none;
}

.submit-btn {
  height: 40px;
  color: #000;
}
