body{
font-family: 'Questrial', sans-serif;
}

.navbar{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #F9BE4F;
    height: 12vh;

}

.logo{
  width: 45%;
}

.navbar a{
    color:white;
    font-size: 1.2em;
}